In [39]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [40]:
df_origin = pd.read_csv('income-db.csv')

In [41]:
df = df_origin.copy()

In [42]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [43]:
df.occupation.value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [44]:
for columna in df.columns:
    df[columna] = np.where(df[columna]=='?', np.nan, df[columna])

In [45]:
df.occupation.value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [46]:
elem=['Prof-specialty', 'Exec-managerial', 'Adm-clerical','Sales, Tech-support']

In [47]:
df.loc[(df['occupation'] == 'Prof-specialty') | (df['occupation'] =='Exec-managerial') | 
       (df['occupation'] == 'Adm-clerical') | (df['occupation'] =='Sales') | 
       (df['occupation'] =='Tech-support'),'collars'] = 'white-collar'

In [48]:
df.loc[(df['occupation'] == 'Craft-repair') | (df['occupation'] =='Machine-op-inspct') | 
       (df['occupation'] == 'Transport-moving,') | (df['occupation'] =='Handlers-cleaners') | 
       (df['occupation'] =='Farming-fishing') | (df['occupation'] =='Protective-serv') | 
       (df['occupation'] =='Priv-house-serv'),'collars'] = 'blue-collar'

In [49]:
df.loc[(df['occupation'] == 'Other-service') | (df['occupation'] =='Armed-Forces'),'collars'] = 'others'

In [51]:
df.collars.value_counts()

white-collar    24819
blue-collar     13921
others           4938
Name: collars, dtype: int64

In [52]:
cond_workclass = [(df['workclass']=='Federal-gov'),(df['workclass']=='State-gov') | (df['workclass']=='Local-gov'),
                  (df['workclass']=='Self-emp-inc') | (df['workclass']=='Self-emp-not-inc'), 
                  (df['workclass']=='Never-worked')| (df['workclass']=='Without-pay')]
opt_workclass = ['federal-gov', 'state-level-gov', 'self-employed', 'unemployed']

df['workclass_recod']=np.select(cond_workclass,opt_workclass)

In [54]:
df.workclass_recod.value_counts()

0                  36705
self-employed       5557
state-level-gov     5117
federal-gov         1432
unemployed            31
Name: workclass_recod, dtype: int64

In [56]:
cond_education = [df['education'] == 'Preschool', (df['education'] == '1st-4th') | (df['education'] == '5th-6th'),
                 (df['education'] == '7th-8th') | (df['education'] =='9th') | (df['education'] =='10th') | 
                  (df['education'] =='11th') | (df['education'] =='12th') |(df['education'] =='HS-grad'),
                 (df['education'] == 'Assoc-voc') | (df['education'] =='Assoc-acdm') | 
                  (df['education'] == 'Some-college'), (df['education'] == 'Bachelors') | 
                  (df['education'] == 'Masters') | (df['education'] == 'Prof-school') | 
                  (df['education'] == 'Doctorate')]
opt_education = ['preschool', 'elementary-school','high-school', 'college', 'university']
df['educ_recod'] = np.select(cond_education, opt_education)

In [59]:
cond_marital = [(df['marital-status'] == 'Married-civ-spouse')|(df['marital-status'] == 'Married-spouse-absent')|
                (df['marital-status'] == 'Married-AF-spouse'), (df['marital-status'] == 'Divorced'), 
                (df['marital-status'] == 'Separated'), (df['marital-status'] == 'Widowed')]
opt_marital = ['married', 'divorced', 'separated', 'widowed']
df['civstatus']=np.select(cond_marital, opt_marital)

In [60]:
df.civstatus.value_counts()

married      23044
0            16117
divorced      6633
separated     1530
widowed       1518
Name: civstatus, dtype: int64

In [61]:
df['marital-status'].value_counts()

Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

In [62]:
df.income = np.where(df['income']=='>50K', 1, 0)

In [65]:
df = df.replace(['United-States', 'Puerto-Rico', 'Canada', 'Cuba', 'Honduras', 'Mexico',
                              'Dominican-Republic', 'Jamaica', 'Ecuador', 'Haiti', 'Columbia', 'Guatemala', 
                              'Nicaragua', 'El-Salvador', 'Trinadad&Tobago', 'Peru'], 'america') 
df = df.replace(['England','Germany', 'Greece', 'Poland', 'France', 'Hungary', 'Holand-Netherlands', 'Yugoslavia',
           'Scotland', 'Ireland', 'Portugal', 'Italy'], 'europe')
df = df.replace(['Outlying-US(Guam-USVI-etc)'], 'oceania')
df = df.replace(['Cambodia', 'India', 'Japan', 'South', 'China', 'Iran', 'Philippines', 'Vietnam', 'Laos',
            'Taiwan', 'Thailand', 'Hong'], 'asia')

In [66]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,collars,workclass_recod,educ_recod,civstatus
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,america,0,blue-collar,0,high-school,0
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,america,0,blue-collar,0,high-school,married
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,america,1,blue-collar,state-level-gov,college,married
3,44.0,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,america,1,blue-collar,0,college,married
4,18.0,NaN,103497.0,Some-college,10.0,Never-married,NaN,Own-child,White,Female,0.0,0.0,30.0,america,0,NaN,0,college,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,america,0,white-collar,0,college,married
48838,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,america,1,blue-collar,0,high-school,married
48839,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,america,0,white-collar,0,high-school,widowed
48840,22.0,Private,201490.0,HS-grad,9.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20.0,america,0,white-collar,0,high-school,0
48841,52.0,Self-emp-inc,287927.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,america,1,white-collar,self-employed,high-school,married

In [67]:
df['native-country'].value_counts()

america    46086
asia        1096
europe       780
oceania       23
Name: native-country, dtype: int64

In [74]:
df=df.drop(['occupation', 'education', 'workclass','marital-status'], axis = 1)

In [75]:
df = df.rename(columns = {'native-country':'region'})

In [76]:
df

,age,fnlwgt,educational-num,relationship,race,gender,capital-gain,capital-loss,hours-per-week,region,income,collars,workclass_recod,educ_recod,civstatus
0,25.0,226802.0,7.0,Own-child,Black,Male,0.0,0.0,40.0,america,0,blue-collar,0,high-school,0
1,38.0,89814.0,9.0,Husband,White,Male,0.0,0.0,50.0,america,0,blue-collar,0,high-school,married
2,28.0,336951.0,12.0,Husband,White,Male,0.0,0.0,40.0,america,1,blue-collar,state-level-gov,college,married
3,44.0,160323.0,10.0,Husband,Black,Male,7688.0,0.0,40.0,america,1,blue-collar,0,college,married
4,18.0,103497.0,10.0,Own-child,White,Female,0.0,0.0,30.0,america,0,NaN,0,college,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27.0,257302.0,12.0,Wife,White,Female,0.0,0.0,38.0,america,0,white-collar,0,college,married
48838,40.0,154374.0,9.0,Husband,White,Male,0.0,0.0,40.0,america,1,blue-collar,0,high-school,married
48839,58.0,151910.0,9.0,Unmarried,White,Female,0.0,0.0,40.0,america,0,white-collar,0,high-school,widowed
48840,22.0,201490.0,9.0,Own-child,White,Male,0.0,0.0,20.0,america,0,white-collar,0,high-school,0
48841,52.0,287927.0,9.0,Wife,White,Female,15024.0,0.0,40.0,america,1,white-collar,self-employed,high-school,married